@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap");

@import url('./foundation/animations.css');
@import url('./foundation/base.css');
@import url('./layout/layout.css');
@import url('./object/component/components.css');
@import url('./object/project/pages.css');
@import url('./object/utility/utilities.css');