@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap");

@import url('./foundation/animations.css');
@import url('./foundation/base.css');
@import url('./layout/layout.css');
@import url('./object/component/components.css');
@import url('./object/project/pages.css');
@import url('./object/utility/utilities.css');

.c-reach-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 30%;
  transform: translate(-180%, -50%);
  opacity: 0;
  pointer-events: none;
}

.c-reach-popup.js-reach-popup-playing {
  animation: reach-popup-slide 1300ms ease-in-out forwards;
}

@keyframes reach-popup-slide {
  0% {
    transform: translate(-180%, -50%);
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  38% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  62% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  100% {
    transform: translate(80%, -50%);
    opacity: 0;
  }
}

.c-reach-popup[hidden] {
  display: none;
}




.c-onemore-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 120;
  width: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
  pointer-events: none;
}

.c-onemore-effect.js-onemore-playing {
  animation: onemore-pop 2400ms ease-in-out forwards;
}

.c-onemore-effect[hidden] {
  display: none;
}
