.l-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.l-main__title {
    width: 300px;
}
.l-main__logo {
    width: 100%;
}

.l-main__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-main__slot {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.l-main__slot-number {
    font-size: 10rem;
    font-weight: 800;
}