.l-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
}

.l-main__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.l-main__bird {
    position: fixed;
    top: -3%;
    width: 27%;
    height: auto;
    z-index: 121;
    opacity: 1;
    transition: opacity 10s ease-out;
}
.l-main__bird--left {
    left: -5%;
    transform: scaleX(-1);
}
.l-main__bird--right {
    right: -5%;
}

.l-main__bird--left.is-lever-on-cutin-active {
    animation: bird-left-lever-on-cutin 3000ms cubic-bezier(0.4, 0, 1, 1) forwards;
    will-change: left, opacity;
}

.l-main__bird--right.is-lever-on-cutin-active {
    animation: bird-right-lever-on-cutin 3000ms cubic-bezier(0.4, 0, 1, 1) forwards;
    will-change: right, opacity;
}

.l-main__signboard {
    position: fixed;
    bottom: -8%;
    right: 10%;
    width: 22%;
    aspect-ratio: 1 / 1;
    z-index: 121;
}
.l-main__signboard-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.l-main__signboard-number {
    position: absolute;
    top: 12%;
    right: 8%;
    width: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 90px;
    color: #fff;
    font-family: "sicrusk", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke: #058a26 3px;
}

.l-main__frontground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: 120;
}

.l-main__title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    margin: 0;
    z-index: 121;
}

.l-main__title img {
    width: 100%;
}


.l-main__title.js-main-title-shaking {
    animation: main-title-shake 360ms ease-in-out 3;
}

.l-main__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 30px;
    border: 8px solid #000;
    overflow: hidden;
}

.l-main__slot {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.l-main__slot-window {
    --reel-cell-height: 12rem;
    --reel-peek-height: 5rem;
    position: relative;
    display: grid;
    width: var(--reel-cell-height);
    height: calc(var(--reel-cell-height) * 3 + 40px);
    border-radius: 12px;
    pointer-events: none;
}


.l-main__slot-reel {
    pointer-events: none;
    display: grid;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.l-main__slot-cell {
    width: var(--reel-cell-height);
    height: var(--reel-cell-height);
    display: grid;
    place-items: center;
    user-select: none;
    text-align: center;
}

.l-main__slot-cell:not(:nth-child(2)) .l-main__slot-number-image {
    width: 65%;
    height: 65%;
    opacity: 0.3;
}
.l-main__slot-cell:nth-child(2) .l-main__slot-number-image {
    scale: 1.6;
}

.l-main__slot-number-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}


.js-seven-bounce-target .js-seven-bounce .l-main__slot-number-image {
    animation: seven-bounce 1500ms ease-out 6;
    transform-origin: center bottom;
}


.js-hit-z-spin-target {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.js-hit-z-spin-target .js-slot-current-cell {
    transform-origin: center center;
}

.js-hit-z-spin-target .js-slot-current-cell .l-main__slot-number-image {
    animation: hit-reel-z-spin 900ms ease-in-out 1;
    backface-visibility: hidden;
}
