.l-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    position: relative;
}

.l-main__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.l-main__bird {
    position: fixed;
    top: -3%;
    width: 22%;
    height: auto;
    z-index: 121;
}
.l-main__bird--left {
    left: -5%;
    transform: scaleX(-1);
}
.l-main__bird--right {
    right: -5%;
}

.l-main__bird--left.is-lever-on-cutin-active {
    animation: bird-left-lever-on-cutin 3000ms cubic-bezier(0.4, 0, 1, 1) forwards;
    will-change: left, opacity;
}

.l-main__bird--right.is-lever-on-cutin-active {
    animation: bird-right-lever-on-cutin 3000ms cubic-bezier(0.4, 0, 1, 1) forwards;
    will-change: right, opacity;
}

@keyframes bird-left-lever-on-cutin {
    0% {
        left: -5%;
        opacity: 1;
    }
    33.333% {
        left: calc(50% - 11%);
        opacity: 1;
    }
    66.666% {
        left: calc(50% - 11%);
        opacity: 1;
    }
    99% {
        left: calc(-22% - 40px);
        opacity: 1;
    }
    99.001%,
    100% {
        left: -5%;
        opacity: 0;
    }
}

@keyframes bird-right-lever-on-cutin {
    0% {
        right: -5%;
        opacity: 1;
    }
    33.333% {
        right: calc(50% - 11%);
        opacity: 1;
    }
    66.666% {
        right: calc(50% - 11%);
        opacity: 1;
    }
    99% {
        right: calc(-22% - 40px);
        opacity: 1;
    }
    99.001%,
    100% {
        right: -5%;
        opacity: 0;
    }
}

.l-main__frontground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: 120;
}

.l-main__title {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    margin: 0;
    z-index: 121;
}

.l-main__title img {
    width: 100%;
}

.l-main__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 30px;
    border: 8px solid #000;
}

.l-main__slot {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.l-main__slot-window {
    --reel-cell-height: 12rem;
    --reel-peek-height: 5rem;
    position: relative;
    display: grid;
    width: var(--reel-cell-height);
    height: calc(var(--reel-cell-height) * 3 + 40px);
    border-radius: 12px;
    pointer-events: none;
}


.l-main__slot-reel {
    pointer-events: none;
    display: grid;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.l-main__slot-cell {
    width: var(--reel-cell-height);
    height: var(--reel-cell-height);
    display: grid;
    place-items: center;
    user-select: none;
    text-align: center;
}

.l-main__slot-cell:not(:nth-child(2)) .l-main__slot-number-image {
    width: 65%;
    height: 65%;
    opacity: 0.3;
}
.l-main__slot-cell:nth-child(2) .l-main__slot-number-image {
    scale: 1.6;
}

.l-main__slot-number-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}
