.l-mobile {
    width: 100vw;
    height: 100vh;
}

.l-mobile__group {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.l-mobile__logo {
    width: 70vw;
    max-width: 400px;
}

.l-mobile__text {
    width: 100%;
    text-align: center;
    color: #fff;
}