.c-hit-effect-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  width: 50vw;
  height: auto;
  pointer-events: none;
}

.c-hit-effect-image[hidden] {
  display: none;
}

.c-hit-effect-image--signboard {
  width: 30vw;
}
.c-hit-effect-image--lever-on-cutin-movie {
    width: 100%;
    height: 120%;
    object-fit: fill;
    z-index: 110;
}
.c-hit-effect-image--reach-cutin {
    width: 30vw;
}
.c-hit-effect-image--character-group {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 110;
}
.c-hit-effect-image--suzu-background {
    width: 100vw;
}

.c-hit-effect-image--reach-change-movie {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: 121;
}

.c-hit-effect-image--push-button-movie {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 122;
}

.c-hit-effect-image--premium-blackout-movie,
.c-hit-effect-image--premium-change-movie {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: 130;
}
