@keyframes bird-left-lever-on-cutin {
    0% {
        left: -5%;
        opacity: 1;
    }
    25% {
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    50% {
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    70% {
        left: 100%;
        top: 60%;
        opacity: 1;
    }
    71% {
        left: 100%;
        top: 60%;
        opacity: 0;
    }
    85% {
        left: -20%;
        top: -3%;
        opacity: 0;
    }
    100% {
        left: -5%;
        opacity: 1;
    }
}

@keyframes bird-right-lever-on-cutin {
    0% {
        right: -5%;
        opacity: 1;
    }
    25% {
        right: 20%;
        top: 25%;
        opacity: 1;
    }
    50% {
        right: 20%;
        top: 25%;
        opacity: 1;
    }
    70% {
        right: 100%;
        top: 60%;
        opacity: 1;
    }
    71% {
        right: 100%;
        top: 60%;
        opacity: 0;
    }
    85% {
        right: -20%;
        top: -3%;
        opacity: 0;
    }
    100% {
        right: -5%;
        opacity: 1;
    }
}