@keyframes bird-left-lever-on-cutin {
    0% {
        left: -5%;
        opacity: 1;
    }
    20% {
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    50% {
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    70% {
        left: 100%;
        top: 60%;
        opacity: 1;
    }
    71% {
        left: 100%;
        top: 60%;
        opacity: 0;
    }
    84% {
        left: -20%;
        top: -3%;
        opacity: 0;
    }
    85% {
        left: -20%;
        top: -3%;
        opacity: 1;
    }
    100% {
        left: -5%;
        opacity: 1;
    }
}

@keyframes bird-right-lever-on-cutin {
    0% {
        right: -5%;
        opacity: 1;
    }
    20% {
        right: 20%;
        top: 25%;
        opacity: 1;
    }
    50% {
        right: 20%;
        top: 25%;
        opacity: 1;
    }
    70% {
        right: 100%;
        top: 60%;
        opacity: 1;
    }
    71% {
        right: 100%;
        top: 60%;
        opacity: 0;
    }
    84% {
        right: -20%;
        top: -3%;
        opacity: 0;
    }
    85% {
        right: -20%;
        top: -3%;
        opacity: 1;
    }
    100% {
        right: -5%;
        opacity: 1;
    }
}

@keyframes seven-bounce {
    0% {
        transform: translateY(20%) scale(1.1);
    }
    20% {
        transform: translateY(-10%) scale(1.2);
    }
    40% {
        transform: translateY(20%) scale(1.1);
    }
    58% {
        transform: translateY(-5%) scale(1.2);
    }
    76% {
        transform: translateY(20%) scale(1.1);
    }
    88% {
        transform: translateY(-5%) scale(1.15);
    }
    100% {
        transform: translateY(20%) scale(1.1);
    }
}