@keyframes bird-left-lever-on-cutin {
    0% {
        left: -5%;
        opacity: 1;
    }
    20% {
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    50% {
        left: 20%;
        top: 25%;
        opacity: 1;
    }
    70% {
        left: 100%;
        top: 60%;
        opacity: 1;
    }
    71% {
        left: 100%;
        top: 60%;
        opacity: 0;
    }
    84% {
        left: -20%;
        top: -3%;
        opacity: 0;
    }
    85% {
        left: -20%;
        top: -3%;
        opacity: 1;
    }
    100% {
        left: -5%;
        opacity: 1;
    }
}

@keyframes bird-right-lever-on-cutin {
    0% {
        right: -5%;
        opacity: 1;
    }
    20% {
        right: 20%;
        top: 25%;
        opacity: 1;
    }
    50% {
        right: 20%;
        top: 25%;
        opacity: 1;
    }
    70% {
        right: 100%;
        top: 60%;
        opacity: 1;
    }
    71% {
        right: 100%;
        top: 60%;
        opacity: 0;
    }
    84% {
        right: -20%;
        top: -3%;
        opacity: 0;
    }
    85% {
        right: -20%;
        top: -3%;
        opacity: 1;
    }
    100% {
        right: -5%;
        opacity: 1;
    }
}

@keyframes seven-bounce {
    0% {
        transform: translateY(20%) scale(1.1);
    }
    20% {
        transform: translateY(-10%) scale(1.2);
    }
    40% {
        transform: translateY(20%) scale(1.1);
    }
    58% {
        transform: translateY(-5%) scale(1.2);
    }
    76% {
        transform: translateY(20%) scale(1.1);
    }
    88% {
        transform: translateY(-5%) scale(1.15);
    }
    100% {
        transform: translateY(20%) scale(1.1);
    }
}

@keyframes hit-reel-z-spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes onemore-pop {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }
    20% {
        transform: translate(-50%, -50%) scale(1.08);
        opacity: 1;
    }
    55% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0;
    }
}


@keyframes main-title-shake {
    0% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
    }
    20% {
        transform: translateX(calc(-50% - 2px)) translateY(-1px) rotate(-1.2deg);
    }
    40% {
        transform: translateX(calc(-50% + 2px)) translateY(1px) rotate(1.2deg);
    }
    60% {
        transform: translateX(calc(-50% - 1px)) translateY(0) rotate(-0.8deg);
    }
    80% {
        transform: translateX(calc(-50% + 1px)) translateY(1px) rotate(0.8deg);
    }
    100% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
    }
}
